---
layout: page
title: 笔记
---

{% for post in site.posts %}

    <div class="ui middle aligned selection list">
        <div class="item">
            <a class="header" href="{{ site.baseurl }}{{ post.url }}">
                {{ post.title | strip_html | truncatewords: 15 }}
                <small class="small-date">
                    {{ post.date | date_to_string }}
                    {% if post.category %} 
                        in <i>{{ post.category }}</i>
                    {% endif %} 
                </small>
            </a>
            {{ post.content | strip_html | truncatewords: 30 }}
        </div>
    </div>
    <hr/>
{% endfor %}
