<div class="ui card">
    <div class="content">
        <a class="header" href="{{site.baseurl}}{{ post.url }}">{{ post.title | strip_html | truncatewords: 15 }}</a>
        <div class="meta">
            <span class="date">{{ post.date | date_to_string }} 
            {% if post.category %} 
                in {{ post.categories }}
            {% endif %} 
            </span>
        </div>
        <div class="description">
            总字数:{{ post.content | number_of_words }}
        </div>
    </div>
    {% if post.category %}
    <div class="extra content">
        分类:&nbsp;&nbsp;&nbsp; <div class="ui horizontal label">{{post.category}}</div>
    </div>
    {% endif %}
</div>